<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SurfTeam Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SurfTeam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E115CE7817FA5A4F00AD850D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E115CE9217FA5A4F00AD850D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14E294D17F3F5B5007F9C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14E296E17F3F5B6007F9C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
